@model RantApp.BLL.ViewModels.RantViewModel

@{
    ViewBag.Title = "Create New Rant";
}

<h2>Ready to Rant?</h2>


@*@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    
}*@

<div class="form-horizontal">
    <h4>Tell us how you feel. Share your thoughts, emotions, and opinions with the world.</h4>
    <hr />
    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
    <!--<div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>-->

    <div id="wizard-views">
        @Html.Action("_WizardTitleScreen", Model)
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
